<?php

$SFCONFIG = array();

// Local IP address for the daemon to listen on
// Usually just localhost or 127.0.0.1 for a setup with the webserver (apache) and the
// sitefusion daemon on the same machine.
$SFCONFIG['address'] = '127.0.0.1';

// Lowest port for the deamon to listen on
// Port numbers used by application processes are increments of this value, so reserve
// a range at least as wide as the expected amount of concurrent application processes.
$SFCONFIG['port'] = 5173;

// Location of the logfile
// The log file is used to keep track of process startup en shutdown, sign-in and -out
// and program errors.

$SFCONFIG['logfile'] = '/var/log/sitefusion.log';

// The name of the timezone the server is in
// For a complete list see http://nl.php.net/manual/en/timezones.php
$SFCONFIG['timezone'] = 'Europe/Amsterdam';

// The interval in seconds for the daemon to check the status of a child process
$SFCONFIG['keepaliveInterval'] = 60;

// The amount of seconds to wait before killing an unresponsive child process
$SFCONFIG['childTimeout'] = 300;

// The amount of seconds to wait before shutting down an abandoned application process
// An application process is only considered abandoned when the client has not made
// any contact at all for the given amount of time. A live client makes a connection
// to the server at least every few minutes even when idle.
$SFCONFIG['sessionTimeout'] = 60 * 30;

// The amount of seconds to wait before a service process disconnects an unresponsive
// service client connection.
$SFCONFIG['serviceClientTimeout'] = 60 * 5;

// Path to the SiteFusion directory
$SFCONFIG['sitefusionPath'] = '/usr/local/sitefusion';

//the DSN path for file based databases should be relative to the sitefusiond path
$SFCONFIG['databaseDSN'] = "sqlite:".$SFCONFIG['sitefusionPath']."/db/sfdb.sq3";
//$SFCONFIG['databaseDSN'] = "mysql:host=127.0.0.1;dbname=sitefusion";

// Username and password for the database server
// This login is only used by the daemon, not by the child processes
$SFCONFIG['databaseUsername'] = 'root';
$SFCONFIG['databasePassword'] = 'dev';

// Debug mode (TRUE or FALSE)
// This enables more extensive logging and the built-in debugger
$SFCONFIG['debug'] = FALSE;

// Whether the daemon should stay in the foreground (FALSE) or detach and become
// an independent process (TRUE)
$SFCONFIG['daemonize'] = TRUE;

// Directory to keep the pidfile and unix sockets in
$SFCONFIG['runtimeDirectory'] = '/var/run/sitefusion';


// Whether the daemon should change its uid and gid after launch
$SFCONFIG['changeIdentity'] = FALSE;

// The username to setuid to when changeIdentity is enabled
$SFCONFIG['systemUser'] = 'sitefusion';

// The group to setgid to when changeIdentity is enabled
$SFCONFIG['systemGroup'] = 'sitefusion';

// The interval in microseconds for the daemon to wait in between cycles
// Higher values can lead to lower idle CPU usage
$SFCONFIG['daemonCycleInterval'] = 100000;
