<?php

$WEBCONFIG = array();

// IP address the daemon is listening on
// Usually just localhost or 127.0.0.1 for a setup with the webserver (apache) and the
// sitefusion daemon on the same machine.

$WEBCONFIG['address'] = '127.0.0.1';


// Port the deamon is listening on

$WEBCONFIG['port'] = 5173;


// Path to the SiteFusion directory

$WEBCONFIG['sitefusionPath'] = '/usr/local/sitefusion';

//the DSN path for file based databases should be relative to www
$WEBCONFIG['databaseDSN'] = 'sqlite:db/sfdb.sq3';
//$WEBCONFIG['databaseDSN'] = "mysql:host=127.0.0.1;dbname=sitefusion";

// Username and password for the database server
// This login is only used by the daemon, not by the child processes

$WEBCONFIG['databaseUsername'] = 'root';
$WEBCONFIG['databasePassword'] = 'dev';

// Seconds for a reverse-communication connection to keep polling before recycling

$WEBCONFIG['revCommTimeout'] = 30;
